.page {
  font-family: 'Inter';
  max-width: 1280px;
  background-color: #2A2C2F;
  margin: 0 auto;
}

.header {
	max-width: 1184px;
  padding: 28px 48px 56px;
	display: flex;
  justify-content: space-between;
}

.header__logo {
	width: 176px;
	height: 52px;
}

.header__lang-link {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
  text-decoration: none;
}

.header__lang-link_included {
  text-decoration-line: underline;
  padding-right: 18px;
}

.lead {
  color: #FFFFFF;
  display: flex;
  max-width: 984px;
  flex-direction: column;
  margin: 0 148px;
  justify-content: center;
}

.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 132px;
  max-width: 720px;
}

.lead__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 32px 172px 64px;
  text-align: center;
  max-width: 640px;
}

.lead__image {
  width: 100%;
}


.lead__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0 0;
}

.intro {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  margin: 92px 442px 92px 148px;
  max-width: 690px;
  
}

.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px 0;
}

.intro__text {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  list-style-type: none;
  padding:0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 33px 0 0 0;
}

.photo-grid {
  max-width: 1184px;
  display: grid;
  margin: 0 48px;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 16px 16px;
}

.photo-grid__item {
  width: 100%;
}

.places {
  margin: 92px 148px;
  max-width: 984px;
  color: #FFFFFF;
}

.place {
  max-height: 660px;
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  gap: 48px 40px;
  margin-top: 80px;
}

.place:first-of-type {
  margin-top: 0;
}

.place__title {
  display: flex;
  align-items: flex-end;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  max-width: 460px;
}

.place__website_url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 12px;
}

.place__website_link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
}

.place__website_link_hover:hover {
  opacity: 0.8;
}

.place__image {
  width: 460px;
  grid-row: 2/3;
}

.place__website {
  display: grid;
  align-content: end;
  grid-row: 1;
  grid-column: 2;
  margin: 0;
  max-width: 456px;
}

.place__paragraph {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  margin:0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph_text {
  margin: 0;
}


.cover {
  display: flex;
  max-width: 1184px;
  max-height: 740px;
  margin: 92px 48px;
  flex-direction: column;
  position: relative;
}

.cover__title {
  margin: 245px 312px 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  z-index: 2;
  position: relative;
}

.cover__link {
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
}

.cover__link::before {
  background-color: #2A2C2F;
  top: 0;
  left: 0;
  opacity: 0.3;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.cover__link:hover::before {
  opacity: 0.9;
}

.cover__subtitle {
  margin: 0 412px 245px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 360px; 
  position: relative;
}

.footer {
  margin: 92px 48px 0px;
  padding-bottom: 24px;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:last-of-type {
  padding-right: 0;
}

.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin:0;
  text-align: end;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;  
  }
} 

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    padding: 28px 48px 48px;
  }
} 

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin: 0 48px;
  }
} 

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0 104px;
    max-width: 720px;
  }
} 

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px 144px 56px;
  }
} 

@media screen and (max-width: 1024px) {
  .intro {
      max-width: 690px;
      margin: 114px 286px 92px 48px;
  }
} 

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px 14px;
    margin: 0 48px;
  }
} 

@media screen and (max-width: 1024px) {
  .places {
      max-width: 928px;
      margin: 92px 48px;
  }
} 

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    max-width: 928px;
  }
} 

@media screen and (max-width: 1024px) {
  .place__website {
    max-width: 456px;
    
  }
} 

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
} 

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    max-height: 640px;
    margin: 92px 0;
  }
} 

@media screen and (max-width: 1024px) {
  .cover__title {
    margin: 195px 232px 32px;
  }
} 

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: 360px;
    margin: 0 332px 195px;
  }
} 

@media screen and (max-width: 1024px) {
  .footer {
   max-width: 928px;
  }
} 


@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;  
  }
} 

@media screen and (max-width: 768px) {
  .header {
  	max-width: 720px;
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 768px) {
.header__logo {
	width: 142px;
	height: 42px;
}
}

@media screen and (max-width: 768px) {
  .lead {
  	max-width: 768px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin: 32px 64px 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
      max-width: 720px;
      margin: 88px 24px;
  }
} 

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(4, 264px);
    gap: 16px 16px;
    margin: 0 24px;
  }
} 

@media screen and (max-width: 768px) {
  .places {
      max-width: 720px;
      margin: 88px 24px;
  }
} 

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 32px;
    max-width: 720px;
    max-height: 581px;
  }
} 

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
    
  }
} 

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
} 

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}


@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    max-height: 480px;
    margin: 92px 0;
  }
} 

@media screen and (max-width: 768px) {
  .cover__title {
    margin: 115px 104px 32px;
  }
} 

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 360px;
    margin: 0 204px 115px;
  }
} 

@media screen and (max-width: 768px) {
  .footer {
   max-width: 720px;
   margin: 0 24px;
   padding-bottom: 24px;
  }
} 

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px; 
  }
} 

@media screen and (max-width: 320px) {
  .header {
  	max-width: 288px;
    padding: 16px 16px 0 16px;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
	  width: 142px;
	  height: 42px;
}
}

@media screen and (max-width: 320px) {
.header__lang-link {
	font-size: 18px;
	line-height: 20px;
}
}

@media screen and (max-width: 320px) {
  .lead {
  	max-width: 320px;
    margin: 48px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin: 0 16px 16px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 0px 16px 40px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
      max-width: 288px;
      margin: 64px 16px;
  }
} 

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
} 

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: 288px;
    grid-template-rows: repeat(12, 216px);
    gap: 12px 12px;
    margin: 0 16px;
  }
} 

@media screen and (max-width: 320px) {
  .places {
      max-width: 320px;
      margin: 64px 0 0 0;
  }
} 

@media screen and (max-width: 320px) {
  .place {
    gap: 32px;
    max-width: 320px;
    max-height: 1016px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    margin-top: 50px;
    grid-template-areas:
    "title"
    "place__website"
    "image"
    "place__paragraph";
  }
} 

@media screen and (max-width: 320px) {
  .place__website {
    max-width: 288px;
    margin: 0 16px; 
    grid-area: place__website;
  }
} 

@media screen and (max-width: 320px) {
.place:first-of-type {
  margin-top: 0;
}
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    font-size: 16px;
    margin: 0 16px;
    grid-area: place__paragraph;
  }
} 

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
    grid-area: title;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
    grid-area: image;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    max-height: 200px;
    margin: 64px 0 66px 0;
  }
} 

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    margin: 33px 16px 16px;
    font-size: 32px;
    line-height: 35px;
  }
} 

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    margin: 0 16px 33px;
    font-size: 14px;
    line-height: 16px;
  }
} 

@media screen and (max-width: 320px) {
  .footer {
   max-width: 186px;
   margin: 0 118px 0 16px;
   padding-bottom: 24px;
   flex-direction: column;
   row-gap: 48px;
  }
} 

@media screen and (max-width: 320px) {
  .footer__links {
     display: flex;
    flex-direction: column;
    row-gap: 32px; 
    }
  }

@media screen and (max-width: 320px) {
  .footer__copyright {
    text-align: start;
  }
}