.page {
  font-family: 'Inter';
  max-width: 1280px;
  background-color: #2A2C2F;
}

.header {
	max-width: 1184px;
  padding: 28px 48px 56px;
	display: grid;
	grid-template-columns: 1fr 30px 29px;
	justify-items: start;
	gap: 18px;
	align-items: center;
	list-style-type: none;
}

.header__logo {
	width: 176px;
	height: 52px;
}

.header__lang-link {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-decoration-line: none;
}

.header__lang-link_included {
  text-decoration-line: underline;
}

.lead {
  color: #FFFFFF;
  display: flex;
  max-width: 984px;
  flex-direction: column;
  margin: 0 148px;
  justify-content: center;
}

.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 132px;
  max-width: 720px;
}

.lead__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 32px 172px 64px;
  text-align: center;
  max-width: 640px;
}

.lead__image {
  width: 100%;
}


.lead__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0 0;
}

.intro {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  margin: 92px 442px 92px 148px;
  max-width: 690px;
  
}

.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px 0;
}

.intro__text {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  list-style-type: none;
  padding:0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 33px 0 0 0;
}

.photo-grid {
  max-width: 1184px;
  display: grid;
  margin: 0 48px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px 16px;
  
}

.photo-grid__item {
  width: 100%;
}

.places {
  margin: 92px 148px;
  max-width: 984px;
  color: #FFFFFF;
}

.place {
  max-height: 660px;
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: repeat (2, 1fr);
  gap: 48px 40px;
  margin-top: 80px;
}

.place:first-of-type {
  margin-top: 0;
}

.place__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  max-width: 460px;
}

.place__website_url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 12px;
}

.place__website_link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
}

.place__website_link_hover:hover {
  opacity: 0.8;
}

.place__image {
  width: 460px;
  grid-row: 2/3;
}

.place__website {
  display: grid;
  align-content: end;
  grid-row: 1;
  grid-column: 2;
  margin: 0;
  max-width: 456px;
}

.place__paragraph {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  margin:0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph_text {
  margin: 0;
}


.cover {
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  max-width: 1184px;
  max-height: 740px;
  margin: 92px 48px;
  position: relative;
  flex-direction: column;
  color: #FFFFFF;
}

.cover__title {
  margin: 245px 312px 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 1;
  max-width: 560px;
}

.cover__title_link {
  text-decoration: none;
  color: #FFFFFF;
}

.cover__subtitle {
  margin: 0 412px 245px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 1;
  max-width: 360px; 
}

.cover__overlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: #2A2C2F;
  z-index: 0;
}

.cover__overlay:hover {
  opacity: 0.8;
}

.footer {
  margin: 92px 48px 0;
  padding-bottom: 24px;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:last-of-type {
  padding-right: 0;
}

.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin:0;
  text-align: end;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .page {
    width: 1024px;  
  }
} 

@media screen and (max-width: 1024px) {
  .header {
      max-width: 928px;
      padding: 28px 48px 48px;
  }
} 

@media screen and (max-width: 1024px) {
  .lead {
      max-width: 928px;
      margin: 0 48px;
  }
} 

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0 104px;
    max-width: 720px;
  }
} 

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px 144px 56px;
  }
} 

@media screen and (max-width: 1024px) {
  .lead__image {
    margin:0;
    max-width: 928px;
  }
} 

@media screen and (max-width: 1024px) {
  .intro {
      max-width: 690px;
      margin: 114px 286px 92px 48px;
  }
} 

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px 14px;
    margin: 0 48px;
  }
} 

@media screen and (max-width: 1024px) {
  .places {
      max-width: 928px;
      margin: 92px 48px;
  }
} 

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    max-width: 928px;
  }
} 

@media screen and (max-width: 1024px) {
  .place__website {
    max-width: 456px;
    
  }
} 

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
} 

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    max-height: 640px;
    margin: 92px 0;
  }
} 

@media screen and (max-width: 1024px) {
  .cover__title {
    margin: 195px 232px 32px;
  }
} 

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: 360px;
    margin: 0 332px 195px;
  }
} 

@media screen and (max-width: 1024px) {
  .footer {
   max-width: 928px;
  }
} 
