.header {
  min-width: 1184px;
  padding: 28px 0 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 56px;
}

@media screen and (max-width: 1279px) {
  .header {
    min-width: 928px;
    margin: 0 auto;
    padding: 28px 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 0 48px;
    min-width: 720px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-width: 288px;
    padding: 16px 0 0;
    align-items: center;
    margin: 0 auto;
    box-sizing: content-box;
  }
}