.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: end;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
    text-align: start;
  }
}