.cover {
  display: flex;
  max-width: 1184px;
  margin: 92px 48px;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    margin: 92px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    min-width: 768px;
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    max-width: 320px;
    margin: 64px 0 66px 0;
  }
}