.cover {
  display: flex;
  max-width: 1184px;
  margin: 92px auto 0;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    margin: 92px 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 768px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 320px;
    margin: 64px 0 66px 0;
  }
}