.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin-top: 80px;

}

.place:first-of-type {
  margin-top: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    gap: 48px 28px;
    grid-template-columns: 340px 1fr;
    max-width: 720px;
    margin-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    row-gap: 32px;
    min-width: 320px;
    grid-template-columns: 320px;
    margin: 50px auto 0;
    grid-template-areas:
      "title"
      "place__website"
      "image"
      "place__paragraph";
  }
}