.place__website {
  display: grid;
  align-content: end;
  grid-row: 1;
  grid-column: 2;
  margin: 0;
  max-width: 456px;
  row-gap: 12px;
}


@media screen and (max-width: 1023px) {
  .place__website {
    max-width: 352px;

  }
}

@media screen and (max-width: 767px) {
  .place__website {
    max-width: 288px;
    padding: 0 16px;
    grid-area: place__website;
  }
}